body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:#fafafa;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 0.5vw;
  justify-content: center;
  margin: 5rem;
}

.playbox {
  border: 0.5vw solid #050505;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #eeff00;
}
.playbox:hover {
  background-color: #f4ff5c;
}

.modal {
display:none;  
position: absolute;
top: 10vh;
z-index: 10;

width: 100vw;
height: 100vw;
background-color:#fafafaad;
text-align: center;
}

.modalContent {
  display: inline-block;
  padding: 5vw;
  margin:20vw auto;
  border-radius: 2vw;
  min-width: 40vw;
}

#closeBtn {
  background-color: #eeff00;
  margin-top: 3vw;
  font-size: 3vw;
  padding: 3vw;
  cursor: pointer;

}
#closeBtn:hover{
  background-color: #f4ff5c;
}

#restartBtn {
  background-color: #eeff00;
  margin-top: 3vw;
  padding: 3vw;
  font-size: 3vw;
  cursor: pointer;
}
#restartBtn:hover{
  background-color: #f4ff5c;
}
